
        [Unit]
        Description=generic template for nomad
        After=multi-user.target

        [Service]
        Type=simple

        ExecStart=/bin/sh -c "nomad agent -server -bootstrap-expect=1 -config=/usr/local/etc/nomad_config.hcl -bind='{{ GetPrivateIP }}'"
        ExecReload=/bin/kill -HUP $MAINPID
        Restart=on-failure
        StandardOutput=journal
        LimitNOFILE=65536

        [Install]
        WantedBy=multi-user.target
    